.table-head-mobile {
	margin-bottom: 20px;
	display: none;
	.col-xs-5 {
		padding-left: 10px;
		padding-right: 5px;
	}
	col-xs-7 {
		padding-right: 10px;
		padding-left: 5px;
	}
}
.table-head-mobile .th {
	background: #52BAD5;
	color: #fff;
	height: 40px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	display: block;
	line-height: 46px;
}
.myselect {
	line-height: 34px;
	height: 40px;
}
.c-name-mobile {
	font-size: 13px;
	padding: 0 10px 5px;
}
.p-name-mobile {
	font-size: 13px;
	padding: 0 10px;
}
.table-body-mobile {
	display: none;
	.row {
		margin-bottom: 20px;
		&>div {
			display: table;
		}
		&:nth-child(even) {
			.td {
				background: none;
			}
		}
	}
	.td {
		display: table-cell;
		height: 70px;
		@extend .shad;
		background: #fff;
		text-align: center;
		width: 100%;
		vertical-align: middle;
		font-size: 16px;
		color: #134F5C;
		font-weight: bold;
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
	}
	.col-xs-5 {
		padding-left: 10px;
		padding-right: 5px;
	}
	col-xs-7 {
		padding-right: 10px;
		padding-left: 5px;
	}
	
}
@media (max-width: 992px) {
	.table-head {
		display: none;
	}
	.table-body {
		display: none;
	}
	.table-head-mobile {
		display: block;
	}
	.table-body-mobile {
		display: block;
	}
}