////////////////////////// form-popup ///////////////////////////
.box-modal {
	background: #FFF;
	max-width: 720px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	padding: 15px 25px 20px;
}
.form-title {
	min-width: 150px;
    min-height: 18px;
	font-size: 16px;
	font-style: italic;
	border-bottom: 1px solid #adbabe;
	margin-bottom: 20px;
	span {
		background: #fff;
		position: relative;
		top: 7px;
		padding-right: 10px;
	}
}
.goo-icon {
	@include s(goo-icon);
	display: inline-block;
}
.linkdin-icon {
	@include s(linkdin-icon);
	display: inline-block;
}
.login-form-wrapper {
	width: 90%;
	margin: auto;
	font-size: 14px;
	p {
		margin-bottom: 10px;
	}
	.tac>a {
	    color: #134F5C;
    	font-size: 14px;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	a.btn-blue {
		color: #FFF;
		text-decoration: none;
	}
}
.social-btns {
	margin-bottom: 15px;
	a {
		display: inline-block;
		margin-bottom: 10px;
	}
}
.btn-login-submit {
	width: 100%;
	text-align: center;
	font-size: 14px;
}
.form-links {
	margin-bottom: 18px;
	padding: 0 5px;
}
.passwords {
	padding-top: 10px;
}
.checkbox-input {
	cursor: pointer;
	margin-right: 10px;
	display: inline-block;
}
.reg-tabs {
	text-align: center !important;
	&>li {
		display: inline-block;
		float: none;
		a {
			background: #999;
			color: #fff;
			display: inline-block;
			&:hover {
				background: #999;
			color: #fff;
			}
		}
		&.active {
			margin-bottom: 0;
		}
	}
}
.step-tabs {
	margin-bottom: 15px;
	li {
		a {
			font-size: 12px;
			padding: 9px;
			background: #999;
			color: #FFF;
			text-decoration: none;
			&:hover {
				background: #a9a9a9;
				color: #FFF;
			}
		}
	}
}
.form-subtitle {
	font-size: 12px;
}
.form-col-left {
	width: 48%;
}
.form-col-right {
	width: 48%;
}
.relation-content {
	background: #E5E5E5;
	padding: 10px;
}
.relation-text {
	margin-bottom: 20px;
	color: #4c7781;
	font-size: 12px;
}
.relation-img {
	img {
		width: 100%;
	}
}
textarea {
	resize: none;
}
.form-profile-img {
	margin-bottom: 15px;
	img {
		width: 100%;
	}
}
.btn-plan {
	width: 80%;
	border-left: 1px solid #eeca63;
	border-right: 1px solid #eeca63;
}
///////////////////// ste5 //////////////////////
.step5-title {
	font-size: 16px;
	color: #787878;
	font-weight: bold;
	text-transform: none;
	margin-bottom: 10px;
}
///////////////////// plan //////////////////////
.plan-item-title {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	span {
		display: block;
		font-size: 12px;
		font-weight: normal;
	}
}
.plan-price {
	position: relative;
	margin-bottom: 30px;
	text-align: center;
	.cur {
		font-size: 30px;
		position: relative;
		top: 10px;
	}
	.per {
		position: relative;
		font-size: 12px;
		top: 10px;
	}
}
.plan-item {
	text-align: center;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	        box-shadow: 0 0 5px rgba(0,0,0,.3);
	    padding: 10px 0;
	    margin-bottom: 20px;
}
.plan-options {
	padding-top: 20px;
	li {
		padding: 5px;
		&:nth-child(odd) {
			background: #F2F2F2;
		}
	}
}
///////////////////// billing //////////////////////
.billing {
	margin-bottom: 30px;
}
.billing-item {
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
}
.billing-title {
	font-size: 18px;
	padding: 10px;
}
.billing-today {
	background: #EFEFEF;
	border-top: 1px solid #DDD;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #555;
}
.billing {
	.billing-conditions {
		margin-bottom: 10px;
		height: 60px;
		overflow: hidden;
		line-height: 1.4em;
	}
}
.billing-item_active {
	border: 1px solid #468CBA;
	.billing-today {
		color: #468CBA;
		position: relative;
		&:before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 12px;
			margin-right: 10px;
			border-left: 5px solid #468CBA;
			border-bottom: 5px solid #468CBA;
			position: relative;
			top: -2px;
			-webkit-transform: rotate(-45deg);
			   -moz-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			     -o-transform: rotate(-45deg);
			        transform: rotate(-45deg);
		}
	}
}
.grn {
	color: #479221;
}
.billing-com {
	border: 1px solid #CCC;
	background: #EFEFEF;
	padding: 20px;
	text-align: left;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	&:before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		position: absolute;
		right: 36%;
		top: -10px;
		background: #EFEFEF;
		-webkit-transform: rotate(45deg);
			   -moz-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			     -o-transform: rotate(45deg);
			        transform: rotate(45deg);
			
	}
	p {
		line-height: 1.4em;
	}
}
///////////////////////// payment /////////////////////////
.payment {
	background: #EFEFEF;
	border: 1px solid #ccc; 
	padding-top: 15px;
	label {
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 5px;
		min-height: 15px;
	}
	div {
		position: relative;
	}
}
.select-wrapper {
	background: #FFF;
	border: 1px solid #ccc; 
	position: relative;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	min-height: 33px;
	margin-bottom: 20px;
	.selectBox-dropdown {
		background: none;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}

}
.payment-btns {
	margin-bottom: 20px;
	.btn {
		font-size: 14px;
	}
}
///////////////////////// screenshot /////////////////////////
.screen-content {
	border: 5px solid #CDCDCD;
	margin-bottom: 28px;
	img {
		width: 100%;
	}
}
.screen-title {
	font-size: 24px;
}
.btn-tab {
	width: 100%;
		font-weight: bold;
		font-size: 16px;
		@extend .shad;
		height: 40px;
		text-align: center;
}
.screen-top {
	margin-bottom: 20px;
}
.textarea {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.26);
	width: 100%;
	padding: 10px;
	height: 100px;
	border: 1px solid #D4D5D4;
}
.form-add-descr {
	margin-bottom: 50px;
	.btn {
		margin-bottom: 18px;
	}
}
.user-block {
	padding-top: 9px;
	padding-left: 5px;
	img {
		width: 44px;
		float: left;
		margin-right: 10px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
	}
	span {
		display: inline-block;
		padding-top: 15px;
		color: #000;
		font-size: 14px;
	}
}
.edit-icon {
	@include s(edit-icon);
	display: inline-block;
	margin-right: 5px;
}
///////////////////////// apps /////////////////////////
.app-block {
	@extend .shad;
	background: #FFF;
	text-align: center;
	padding: 15px;
	margin-bottom: 30px;
}
.app-block-logo {
	height: 80px;
	margin-bottom: 15px;
}
.app-block-name {
	font-size: 22px;
	color: #134F5C;
	font-weight: bold;
	margin-bottom: 10px;
}
.app-block-descr {
	font-size: 14px;
	margin-bottom: 30px;
}
.edit-app {
	font-size: 16px;
	font-weight: bold;
}
.apps {
	margin-bottom: 57px;
}
.max165 {
	max-width: 165px;
}