// ------------------ layout styles
body 
	font-family: 'Lato', sans-serif
	background: #ecedec 
	font-size: 12px
	font-weight: 300 
	color: #535353 
.all 
	min-height: 100%
.container-fluid
	max-width: 1170px
	margin: auto
	position: relative
.wrapper 
	width: 100%
	//overflow: hidden
	padding-bottom: 15px