///////////////// main /////////////////////
h1 {
	font-size: 42px;
	text-transform: uppercase;
	color: #134F5C;
	padding-bottom: 20px;
	font-weight: bold;
	font-family: 'myriad';
}
h2 {
	font-size: 18px;
	padding-bottom: 20px;
}
h3 {
	font-size: 24px;
	text-transform: uppercase;
	color: #134F5C;
}
h4 {
	color: #134F5C;
	font-size: 18px;
}
h5 {
	font-size: 18px;
	color: #787878;
	font-weight: bold;
	text-transform: none;
	margin-bottom: 10px;
}
h6 {
	margin-bottom: 10px;
}
.tar {
	text-align: right;
}
.tal {
	text-align: left;
}
.tac {
	text-align: center;
	text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: rgb(47, 91, 121);
    margin-bottom: 45px;
}
a {
	color: #2f5b79;
	&:hover {
		text-decoration: none;
	}
}
///////////////// fonts ////////////////////

@font-face {
    font-family: 'myriad';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}
///////////////// buttons ////////////////////
.btn {
	-webkit-border-radius: 0;
	        border-radius: 0;
}
.btn-blue {
	background: #134F5C;
	border: 1px solid #134F5C;
	color: #fff;
	&:hover {
		color: #FFF;
	}
	&:visited {
		color: #FFF;
	}
}
.btn-blue-light {
	background: #52BAD5;
	border-color: #52BAD5;
}

.btn-white {
	background: #FFF;
	color: #134F5C;
	@extend .shad;
}
.btn-op {
	background: none;
	color: #134F5C;
	border: 1px solid #134F5C;
	font-size: 15px;
}
.mt-btn {
	padding: 6px 10px;
	margin-bottom: 20px;
}

.btn-sm {
	font-size: 14px;
	height: 43px;
	line-height: 41px;
	display: inline-block;
	padding: 0 23px;
}
.shad {
	@include box-shadow(0 0 5px rgba(0,0,0,.26));
}
.btn-yel {
	background-color: #ffe6a0; // Old browsers
	@include filter-gradient(#ffe6a0, #ffba00, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #ffe6a0 0%,#ffba00 100%));
}
.small-btn {
	font-size: 12px;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
}
.mid-btn {
	font-size: 20px;
}
.btn-wide {
	width: 100%;
}
.btn16 {
	font-size: 16px;
	font-weight: bold;
}
///////////////// colors /////////////////////
.red {
	color: #E06666;
}
.grn {
	color: #93C47D;
}
.yel {
	color: #FFD966;
}
.yel-back {
	background: #FFD966;
}
.grn-back {
	background: #93C47D;
}
.red-back {
	background: #E06666;
}
///////////////// mmenu /////////////////////
.mmenu-panel {
	position: fixed;
	left: 0;
	top: 0;
	width: 45px;
	height: 100%;
	background: #134f5c;
}
.mmenu-btn {
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 10px;
	@include s(menu-icon)
}
///////////////// header ////////////////////
.header {
	min-height: 60px;
	position: relative;
	background: #fff;
	-webkit-border-radius: 0 0 5px 5px;
	        border-radius: 0 0 5px 5px;
	margin-bottom: 37px;
}
.sl-left {
	@include s(sl-left);
	display: inline-block;
}
.sl-right {
	@include s(sl-right);
	display: inline-block;
}
.carousel {
	max-width: 720px;
	.carousel-inner {
		.item {
			img {
				width: 100%;
			}
		}
	}
}
.carousel-control {
	width: 9%;
	background: none !important;
	&.right {
		right: 10px;
		span {
			right: 20px;
		}
	}
	&.left {
		span {
			left: 20px;
		}
	}
	span {
		position: absolute;
		top: 50%;
		margin-top: -9px;
	}
}
.search-form {
	padding: 8px 0px;
	.form-control {
		-webkit-border-radius: 0;
		        border-radius: 0;
	    border: 1px solid #D9D9D9;
	    padding: 0 8px;
	    height: 38px;
	    line-height: 36px;
	    width: 290px;
	    float: left;
	}
}
.btn-search {
	float: right;
	background: #134F5C;
	-webkit-border-radius: 0;
	        border-radius: 0;
	height: 38px;
	width: 67px;
	position: absolute;
	text-indent: -9000px;
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -8px;
		margin-left: -8px;
		display: inline-block;
		@include s(search-icon);
	}
}
.icon {
	display: inline-block;
}
.login-icon {
	@include s(login-icon);
}
.create-icon {
	@include s(create-icon);
}
.toplinks {
	text-align: right;
	padding-top: 20px;
	a {
		margin-left: 22px;
		color: #000;
		font-size: 14px;
	}
	i {
		margin-right: 5px;
	}
}
.m-descr {
	font-size: 24px;
	color: #494949;
	margin-bottom: 30px;
}
.maintext {
	p {
		font-size: 18px;
		color: #8C8C8C;
		margin-bottom: 32px;
		line-height: 1.2em;
	}
	.mt-btn {
		margin: 2px;
	}
}
.page-title, .page-title-discover {
	margin-bottom: 30px;
	position: relative;
	&:after {
		content: "";
		border-bottom: 2px solid #C6C6C6;
		display: block;
		width: 100%;
		position: relative;
		top: -13px;
		z-index: 1;
	}
	h3 {
		font-weight: bold;
		background: #ECEDEC;
		z-index: 2;
		position: relative;
		display: inline-block;
		padding-right: 19px;
	}
}
.page-title-discover {
	margin-bottom: 15px;
}
.top-row {
	margin-bottom: 20px;
}
.m-mig-block {
	background: #000;
	position: relative;	
	margin-bottom: 30px;
	img {
		width: 100%;
    	vertical-align: middle;
	}
	&:hover {
		.m-tags, .m-desc {
			display: block;
		}
	}
}
.m-title {
	position: absolute;
	left: 0;
	top: 50%;
	font-weight: bold;
	font-size: 24px;
	color: #FFF;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin-top: -13px;
	z-index: 1;
}
.m-tags {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding-top: 20px;
	width: 40%;
	background: rgba(255,255,255,.6);
	padding-left: 11px;
	display: none;
	z-index: 2;
	a {
		display: inline-block;
		color: #7A7A7A;
		padding: 5px;
		background: #fff;
		font-weight: bold;
		margin-bottom: 5px;
		margin-right: 4px;
		&:hover {
			color: #fff;
			background: #7A7A7A;
		}
	}
}



.browse {
	display: inline-block;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
}
.logos {
	margin-bottom: 36px;
	.slide {
		&>div {
			text-align: center;    
			padding: 5px;
		}
		a {
		    height: 81px;
			width: 85px;
			display: block;
			margin: 0 auto;
			border: 1px solid #d0d0d0;
			padding: 5px;
		}
		img {
			max-width: 100%;
	    	max-height: 100%;
		}
	}
}
/////////////////////////////  brand-block  ////////////////////////////////////
.brands {
	padding-left: 90px;
	padding-right: 90px;
}

.brand-block {
	min-height: 250px;
	background-color: #fff;
	@include box-shadow(0 0 5px rgba(0,0,0,.26));
	padding: 15px 10px;
	margin-bottom: 30px;
	&:hover {
		-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);
    	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);
    	box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);
	}
}
.brand-logo {
	float: left;
}
.brand-content {
	margin-left: 118px;
	h3 {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 7px;
	}
	p {
		color: #535353;
		margin-bottom: 10px;
		line-height: 1.4em;
		font-size: 14px;
	}
}
.brand-input {
	background-color: #fff;
	@include box-shadow(0 0 5px rgba(0,0,0,.26));
	height: 25px;
	border: none;
	width: 100%;
	padding: 0 10px;
	margin-bottom: 10px;
}
.select {
	width: 100%;
	@include box-shadow(0 0 5px rgba(0,0,0,.26));
	height: 25px;
}
///////////////////////////////////// select  //////////////////////////////////////
/* Dropdown control */
.selectBox-dropdown {
	width: 100%; /* width = (desired width) - padding-right */
	padding-right: 40px;
	position: relative;
	line-height: 1.5;
	text-decoration: none;
	color: #535353;
	outline: none;
	vertical-align: middle;
	display: inline-block;
	cursor: default;
	padding-left: 5px;
	background: #FFF;
}

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
	border-color: #444;
}

.selectBox-dropdown.selectBox-menuShowing {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
	width: 100%;
	padding: .2em .3em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

.selectBox-dropdown .selectBox-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 23px;
	height: 100%;
	background: url(../img/icons/select-arr.png) 50% center no-repeat;
}


/* Dropdown menu */
.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 200px;
	border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
	background: #FFF;
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.6);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.6);
	box-shadow: 0 6px 12px rgba(0,0,0,.6);
	overflow: auto;
}


/* Inline control */
.selectBox-inline {
	width: 250px;
	outline: none;
	border: solid 1px #BBB;
	background: #FFF;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: auto;
}

.selectBox-inline:focus {
	border-color: #666;
}


/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0;
}

.selectBox-options LI A {
	line-height: 1.5;
	padding: 0 .5em;
	white-space: nowrap;
	overflow: hidden;
	background: 6px center no-repeat;
}

.selectBox-options LI.selectBox-hover A {
	background-color: #EEE;
}

.selectBox-options LI.selectBox-disabled A {
	color: #888;
	background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
	background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
	color: #666;
	background: #EEE;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}


/* Disabled state */
.selectBox.selectBox-disabled {
	color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
	opacity: .5;
	filter: alpha(opacity=50);
	border-color: #666;
}

.selectBox-inline.selectBox-disabled {
	color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
	background-color: transparent !important;
}
///////////////////////////////////// select  //////////////////////////////////////

///////////////////////////////////// profile  /////////////////////////////////////
.profile-img {
	img {
		@include border-radius(5px);
		@include background-clip(padding-box);
		background-color: #fff;
		@include box-shadow(0 0 5px rgba(0,0,0,.26));
		width: 100%;
		max-width: 265px;
		margin-bottom: 20px;
	}
}
.profile-title {
	color: #525252;
	font-size: 28px;
	text-transform: none;
	font-weight: normal;
}
.profile-content {
	font-size: 14px;
	color: #535353;
	p {
		line-height: 1.3em;
		margin-bottom: 20px;
	}
	ul {
		margin-bottom: 20px;
		padding-left: 10px;
		li {
    		list-style-image: url(../img/icons/dot.png);
			color: #373737;
			margin-bottom: 5px;
		}
	}
}
.profile-btns {
		padding-top: 60px;
		.btn {
			min-width: 165px;
		}
		a {
			@extend .shad;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
.in-btn {
	@include s(in-btn);
	display: inline-block;
	text-indent: -9000px;
}
.profile-wrapper {
	margin-bottom: 30px;
}
.sp1-icon {
	@include s(sp1-icon);
	display: inline-block;
}
.sp2-icon {
	@include s(sp2-icon);
	display: inline-block;
}
.crm-icon {
	@include s(crm-icon);
	display: inline-block;
}
.prod-block {
	@extend .shad;
	background: #ECEDEC;
	display: inline-block;
    width: 100%;
}
.prod-block-main {	
	padding-bottom: 35px;
	.description {
        display: block;
    }
    .big-description {
        display: none;
    }
}
.use-products {
	margin-bottom: 40px;
}
.prod-block-cont {
	padding: 10px 18px;
	float: left;
	width: 59.7%;
	background: #FFF;
	min-height: 200px;
	p {
		line-height: 1.3em;
	}
	&:hover {
		.prod-stat {
			display: block;
		}
	}
}
.prod-tags {
	float: right;
	width: 40.2%;
	display: block;
	padding-top: 45px;
	padding-left: 10px;
	a {
		display: inline-block;
		color: #7A7A7A;
		padding: 5px;
		background: #fff;
		font-weight: bold;
		margin-bottom: 5px;
		margin-right: 4px;
		&:hover {
			color: #fff;
			background: #7A7A7A;
		}
}
}
.pb-title {
	font-size: 24px;
	color: #134F5C;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-weight: bold;
}
.pb-cat {
	font-size: 16px;
	color: #134F5C;
}
.prod-block-icon {
	height: 81px;
	width: 81px;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.pb-play {
	@include s(pb-play);
	display: inline-block;
}
.pb-date {
	@include s(pb-date);
	display: inline-block;
}
.pb-views {
	@include s(pb-views);
	display: inline-block;
}
.pb-info {
	position: absolute;
    bottom: 15px;
	i {
		float: left;
		margin-right: 15px;
	}
	.pb-views {
		margin-right: 7px;
		position: relative;
		top: 1px;
	}
}
.prod-block {
	position: relative;
	margin-bottom: 20px;
}
.prod-stat, .prod-stat-mobile {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	ul {
		padding: 10px 8px;
		background: rgba(70, 70, 70, 0.7);
		height: 100%;
		padding-top: 20px;
	}
	li {		
		color: #fff;
		margin-bottom: 8px;    
		height: 22px;
    	line-height: 22px;
    	padding: 0 10px;
    	.col-title {
    		width: 25%;
		}
		.col-value {
			width: 75%;
    		padding: 0;
		}
    	div {
    		float: left;
    		font-size: 14px;
    		height: inherit;
    		padding-right: 10px;
    	}
		span {
			display: block;
			font-size: 14px;
			padding: 0px;
			height: inherit;
			width:0%;
			-webkit-transition: 0.1s linear;
    		-moz-transition: 0.1s linear;
	    	-o-transition: 0.1s linear;
			transition: 0.1s linear;
		}
		.stat-backgroud {
		    width: 100%;
    		opacity: 0.2;
    		background: rgb(255, 255, 255);
		}
		.stat-value {
			float: left;
			z-index: 99;
    		position: relative;
		}
	}
	li:last-child {
		margin-bottom: 0px;    
	}
}
////////////////////////////////////  reviews  /////////////////////////////////////
.review-block {
	@extend .shad;
	background: #FFF;
	margin-bottom: 30px;
	padding: 20px;
}
.review-img {
	float: left;
	img {
		-webkit-border-radius: 50%;
		        border-radius: 50%;
	    width: 100px;
	    height: 100px;
	}
}
.review-text {
	margin-left: 130px;
	padding-top: 12px;
	font-size: 14px;
	line-height: 1.4em;
}
/////////////////////////////////////   app-page     ///////////////////////////////////
.int-block {
	@extend .shad;
	background: #fff;
	margin-bottom: 30px;
	padding: 25px;
	padding-left: 10px;
}
.int-logo {
	float: left;
	width: 200px;
	text-align: center;
	padding-top: 12px;
}
.int-content {
	margin-left: 220px;
	font-size: 20px;
	color: #134F5C;
}
.app-content {
	margin-bottom: 55px;
}
.sidemenu-fixed {
	top: 90px;	
	position: fixed!important;
}
.tabs-fixed {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    background: #ECEDEC;
    padding: 20px 0;
    padding-bottom: 30px;
}
.sidemenu {
	position: absolute;
	.btn {
		font-size: 18px;
		width: 100%;
		text-align: left;
		margin-bottom: 20px;
		padding: 8px 20px;
		@extend .shad;
		&:hover {
			@include box-shadow(0 0 5px rgba(0,0,0,.46));
		}
	}
}
.side-select {
	display: none;
	margin-bottom: 20px;
}

////////////////////////////////////  table  ////////////////////////////////////
.table-btns {
	margin-bottom: 30px;
	.btn {
		width: 100%;
		font-weight: bold;
		font-size: 16px;
		@extend .shad;
		height: 40px;
		text-align: center;
		.menu-icon {
			position: relative;
			top: 3px;
		}
	}
}
.menu-icon {
	@include s(menu-icon);
	display: inline-block;
}
.table-head {
	margin-bottom: 10px;
	.th {
		background: #52BAD5;
		color: #fff;
		height: 40px;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		display: block;
		line-height: 39px;
		.plus-icon {
			position: relative;
			top: 5px;
		}
	}
}
.plus-icon {
	@include s(plus-icon);
	display: inline-block;
}

.ok {
	@include s(ok-icon);
	display: inline-block;
}
.no {
	@include s(no-icon);
	display: inline-block;
}
.table-body {
	.row {
		margin-bottom: 20px;
		&>div {
			display: table;
		}
		&:nth-child(even) {
			.td {
				background: none;
			}
		}
	}
	.td {
		display: table-cell;
		height: 70px;
		@extend .shad;
		background: #fff;
		text-align: center;
		width: 100%;
		vertical-align: middle;
		font-size: 16px;
		color: #134F5C;
		font-weight: bold;
	}
}
.remove {
	@include s(del-icon);
	display: inline-block;
	cursor: pointer;
}
.td-logo {
	float: left;
    width: 70px;
    height: 50px;
    padding: 0px 10px;
}
.td-name {
	text-align: left;
}
.c-name {
	color: #52BAD5;
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.p-name {
	color: #134f5c;
	font-size: 19px;
	font-weight: bold;
}

/////////////////////////////// discover //////////////////////////////////
.col {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.col-b-1 {
	width: 15.5%;
}
.col-b-2 {
	width: 12.1%;
}
.discover-tags {
	.btn {
		font-size: 14px;
		padding: 5px 15px;
		margin: 5px;
	}
	.col {
		padding: 0px!important;
	}
}
.tags-blue {
	text-align: center;
}
.dot3 {
	@include s(dot3);
	display: inline-block;
	position: relative;
	top: -4px;
}
.menu-icon-blue {
	@include s(menu-icon-blue);
	display: inline-block;
}
.right-icons-block {
	position: absolute;
	right: 0;
	top: -8px;
	min-height: 27px;
	background: #ECEDEC;
	z-index: 100;
	.btn {
		padding-right: 0;
	}
}
.row-tb {
	margin-bottom: 10px;
}
.discover-top {
	&>div {
		margin-bottom: 20px;
	}
	h4 {
		font-weight: bold;
		font-size: 18px;
		padding-left: 10px;
		padding-bottom: 20px;
	}
	.select {
		height: 50px;
		line-height: 45px;
		font-size: 14px;
	}
}
.discover-input {
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	margin: 0px;
}
.look-block {
	@extend .shad;
	overflow: hidden;
}
.look-drop {
	padding: 15px 20px;
	display: none;
	margin-top: 10px;
	li {
		padding-left: 15px;
		background: url(../img/icons/discover-li.png) 0 7px no-repeat;
		font-size: 16px;
		color: #535353;
		margin-bottom: 20px;
		cursor: pointer;
	}
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	    border-color: #52BAD5;
	    background: #fff;
}
.ui-slider-range {
	background: #52BAD5;
	height: 8px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border: none;
	-webkit-border-radius: 0;
	        border-radius: 0;
	 background: url(http://snaapio.s3-eu-west-1.amazonaws.com/snaap/wp-content/uploads/2016/03/03101344/sl-rng.png) 0 50%;
	 height: 3px;   
}
.ui-slider-horizontal {
	.ui-slider-range-min {
		left: 0;
    	top: -2px;
    	height: 8px;
    	background: url(http://snaapio.s3-eu-west-1.amazonaws.com/snaap/wp-content/uploads/2016/03/03101344/sl-rng.png) 0 50%;
	}
}

.ui-slider .ui-slider-handle {
	width: 10px;
	height: 10px;
	top: -3px;
}
.option-label {
	float: left;
	width: 75px;
	font-size: 18px;
}
.option-block {
	overflow: hidden;
	height: 36px;
	line-height: 36px;
}
.option-slider {
	margin-left: 85px;
	position: relative;
	top: 17px;
	cursor: pointer;
	span { 
		cursor: pointer; 
	}
}
.nav-tabs {
	margin-bottom: 30px;
	
}
.sub-m-title {
    position: absolute;
    left: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    width: 100%;
    margin-top: -35px;
    z-index: 1;
}
.edit-app-block {
	background: #FFF;
	@extend .shad;
	padding: 20px;
	h1 {
		font-size: 24px;
		margin-bottom: 5px;
		padding-bottom: 0;
	}
}
.app-descr {
	font-size: 16px;
	font-weight: bold;
	color: #134F5C;
	margin-bottom: 20px;
}
.app-logo {
	padding: 20px 0;
	text-align: center;
	@extend .shad;
	margin-bottom: 25px;
	background: #FFF;
}
.edit-app-btns {
	margin-bottom: 20px;
	.btn {
		float: left;
		text-align: center;
		width: 46%;
		&:last-child {
			float: right;
		}
	}
}
.form-control {
	-webkit-border-radius: 0;
	        border-radius: 0;
	    border-color: #E5E5E5;
	    @extend .shad;
}
.app-social-title {
	font-size: 16px;
	color: #134F5C;
	font-weight: bold;
	margin-bottom: 20px;
}
/////////////////////  plans  ///////////////////////
.plan-info {
	font-weight: bold;
	font-size: 24px;
	color: #134F5C;
	margin-bottom: 70px;
}
.plan-block {
	background: #FFF;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.plan-block-top {
	background: #2DCEB8;
	color: #fff;
	padding: 20px;
	padding-top: 30px;
	margin-bottom: 10px;
}
.plan-block-name {
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 25px;
}
.plan-block-price {
	font-size: 55px;
	margin-bottom: 25px;
}
.plan-block-period {
	font-size: 22px;
}
.plan-block-options {
	margin-bottom: 15px;
	li {
		padding-top: 35px;
		padding-bottom: 35px;
		font-size: 18px;
		color: #134F5C;
		border-top: 1px solid #E5E5E5;
		&:first-child {
			border-top: none;
		}
	}
}
.pb-btn {
	font-size: 18px;
}
.plan-block-active {
	background: #134F5C;
	position: relative;
	top: -12px;
	.plan-block-top {
		background: #0F3F4A;
		color: #fff;
	}
	.plan-block-price {
		font-size: 65px;
	}
	.plan-block-options {
		li {
			border-color: #114753;
			color: #fff;
		}
	}
	.pb-btn {
		background: #FFBC55;
	}
}
.plans-contact-block {
	background: #2DCEB8;
	@extend .shad;
	color: #fff;
	font-size: 18px;
	line-height: 2em;
	position: relative;
	top: 70px;
	margin-bottom: 30px;
	a {
		color: #134F5C;
	}
	li {
		padding: 25px 50px;
		border-top: 1px solid #28B9A5;
		border-bottom: 1px solid #2AC1AC;
		&:first-child {
			border-top: none;
		}
	}
}
/////////////// segment /////////////////////
.wh-block {
	background: #FFF;
	@extend .shad;
}
.segment-block {
	padding: 20px;
	
	margin-bottom: 30px;
}
.segment-block-selected {
	padding-bottom: 18px;
}
.segment-form {
	.form-control {
		font-size: 12px;
	}
}
.segment-block-title {
	font-size: 16px;
	color: #134F5C;
	font-weight: bold;
	margin-bottom: 25px;
	text-align: center;
}
.segment-category {
	padding: 15px 18px 5px;
	a {
		color: #7D7D7D;
	}
	li {
		margin-bottom: 15px;
	}
}
.oh {
	overflow: hidden;
}
.segment-radio {
	float: left;
	width: 48%;
	input[type="radio"] {
		position: relative;
		top: 2px;
		margin-right: 5px;
	}
	li {
		margin-bottom: 9px;
	}
}
.text-block-grey {
	color: #134F5C;
	font-size: 24px;
	padding: 25px 36px 20px;
	background: #ECEDEC;
	font-weight: bold;
	line-height: 1.3em;
}
/////////////////// vender ///////////////////////
.vender-descr {
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 400;
}
.vender-top {
	margin-bottom: 30px;
}
.vender-step {
	margin-bottom: 50px;
	.btn {
		text-transform: uppercase;
	}
}
.personal-block-title {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #134F5C;
	margin-bottom: 18px;
}
.vender-links {
	font-size: 16px;
	font-weight: bold;
	a {
		color: #134F5C;
	}
	.grey-link {
		color: #7E7E7E;
	}
}
.vender-block-title {
	font-size: 14px;
	color: #134F5C;
	margin-bottom: 25px;
}
.vender-block {
	height: 190px;
	overflow: hidden;
	@extend .shad;
}
.vender-block-wrapper {
	position: relative;
	top: -40px;
}
.pi-img-block {
	margin-bottom: 20px;
}
.pi-img {
	img {
		width: 100%;
	}
}
.v-reg-form {
	margin-bottom: 40px;
}
.step-link {
	display: block;
	font-size: 13px;
	line-height: 30px;
}
.plan-prev {
	display: inline-block;
	@include s(prev-arr);
}
.plan-next {
	display: inline-block;
	@include s(next-arr);
}
.fb {
	display: inline-block;
	@include s(fb);
}
.link-in {
	display: inline-block;
	@include s(in);
}
.tw {
	display: inline-block;
	@include s(tw);
}
.go {
	display: inline-block;
	@include s(go);
}
.app-social {
	i {
		position: absolute;
		left: -54px;
		top: 3px;
	}
	.form-group {
		position: relative;
	}
}