/////////////////// oleg styles /////////////////////
span.btnTerm {
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    i {
        top: 0px;
        right: 2px;
        position: absolute;
    }
}

ul.look-drop-sc {
	padding: 15px 20px;
    padding-top: 25px;    
    background: transparent;
	li {
        border:none!important;
		padding-left: 15px!important;
    	background: url(../img/icons/discover-li.png) 0 7px no-repeat!important;
    	font-size: 16px;
    	color: #535353!important;
    	margin-bottom: 20px!important;
    	cursor: pointer!important;
	}
}

.algolia-autocomplete {
    width: 290px!important;
}

.bx-wrapper {
    position: relative;
    margin-bottom: 30px!important;
}
.discover-tags {
    .bx-wrapper {
        margin-bottom: 0px!important;
    }
}

.bx-controls {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    height: 18px;
    width: 100%;
}

.disabled {
    display: none; 
}

.bx-prev {
    float: left;
    position: relative;
    left: 0px;
    z-index:1000;
}

.bx-next {
    float: right;
    position: relative;
    right: 0px;
    z-index:1000;
}

#sideSlideMenu {
    background-color: #304D5B;
}
#sideSlideToggle {
    background-color: #304D5B;
    color: #FFFFFF;
}

.m-tags-hide {
    position: absolute;
    right: 0;
    padding-top: 15px;
    padding-bottom: 11px;
    background: rgba(255, 255, 255, 0.6);
    padding-left: 11px;
    display: none;
    z-index: 2;
    margin-top: -2px;
    a {
        display: inline-block;
        color: #7A7A7A;
        padding: 5px;
        background: #fff;
        font-weight: bold;
        margin-bottom: 5px;
        margin-right: 4px;
        &:hover {
            color: #fff;
            background: #7A7A7A;
        }
    }
}

.holder {
    overflow: hidden;
    background: #fff;
    font-size: 16px;
    border: 1px solid #D9D9D9;
    padding: 4px 4px;
    height: 100%;
    line-height: 26px;
    float: left;
    width: 100%;
    cursor: text;
    padding-bottom: 0px;
    .bit-box {
        background: #8BA9AF;
        float: left;
        height: 27px;
        padding: 0px 5px;
        padding-left: 22px;
        position: relative;
        margin-right: 5px;
        color: #fff;
        margin-bottom: 4px;
        a {
            background-color: #000;
            display: block;
            height: 12px;
            width: 12px;
            position: absolute;
            top: 7px;
            left: 6px;
            background: url('http://snaapio.s3-eu-west-1.amazonaws.com/snaap/wp-content/uploads/2016/03/03101339/icons-sd646aa7f15.png') -8px -534px no-repeat;
        }
    }
    .bit-input {
        float: left;
        list-style-type: none;
        margin: 0 5px 4px 0;
        white-space: nowrap;
        height: 27px;
        width: 3px;
        input {
            height: 27px;
            border: none;
            width:auto;
        }
    }
}

.facebook-auto {
    position: absolute;
    font-size: 16px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    z-index: 1000;
    display: none;
    width: 100%;
    float: right;
    ul {
        li {
            cursor: pointer;
            div {
                background: #8BA9AF;
                height: 27px;
                padding: 0px 5px;
                position: relative;
                color: #fff;
                margin: 5px;
                line-height: 26px;
                display: inline-block;
            }
            p {
                display: inline-block;
            }
            .div-app {
                border: 1px solid #8BA9AF;
                background-color: transparent;
                color: #000;
                float: right;
                margin-right: 7px;
            }
        }
        .auto-focus {
            border: 1px solid #8BA9AF;
        }
    }
}

#sideSlideFooter {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #aaa;
    padding: 5px;    
    font-size: 13px;
}

.sideSliderMenuBottom {
    padding-bottom: 15px;
    a:before {
        content: " | ";
    }
    a:first-child:before {
        content: "";
    }
}

.big-app {
    width: 100%!important;
    .prod-block-cont {
        width: 80%!important;
    }
    .prod-tags {
        width: 20%!important;
    }
    .prod-stat, .prod-stat-mobile {
        width: 80%!important;
    }
    .prod-block-icon {
        height: 144px;
        float: left;
        margin-right: 17px;
        width: 144px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .pb-cat {
        padding: 10px 0px;
    }
    .pb-title {
        padding-top: 10px;
    }
    .prod-block-main {        
        .description {
            display: none!important;
        }
        .big-description {
            display: block!important;
        }
    }
    .prod-block {
        width: 100%;
    }
}

.table-btns {
    #tabsApp {
        border: none;
        li {
            a {
                border: none;
                border-radius: 0px;
                line-height: 17px;
                &:hover {
                    background: #fff;
                    color: #000;
                }
                .menu-icon {
                    top: 0px;
                }
                &:focus {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }
}

.app-compare-row {
    max-width: 550px;
    padding: 15px;    
    .app-compare {
        height: 130px;
        width: 120px;
        padding: 10px;
        margin: 5px;
        border: 1px solid #aaa;
        float: left;
        cursor: pointer;
        .ap-logo {
            padding-top: 10px;
            width: 88px;
            height: 88px;
            margin: 0 auto;
        }
        .p-name {
            text-align: center;
            height: 20px;
        }
    }
    .active {
        border: 2px solid #428BCA;
    }
    .tac {
        margin-bottom: 0px;
        a {
            font-size: 16px;
        }
    }
}

.brand-apps {
    margin-left: 118px;
    //height: 30px;
    .link-img-app {
        margin-right: 10px;
        display: inline-block;
        //float: left;
        width: 34px;
        height: 34px;
        text-align: center;
        padding-top: 2px;
        &:hover{
            -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
        }
        img {
            height: 30px;
        }
    }
}

#qm {
    display: none !important;
}

.look-block {
    position: relative;
    display: block;
    height: 50px;
    background: #fff;
    overflow: initial;
    .holder {
        font-size: 16px;
        width: 100%;
        height: 50px;
        .bit-box {
            margin-top: 6px;
        }
        .bit-input {
            margin-top: 6px;
        }
    }    
    .facebook-auto {
        font-size: 16px;
        top: 49px;
    }
}

.global-search {
    width: 100%;
}

.selectBox {
    cursor: pointer;
}

.ui-slider-handle {
    cursor: pointer !important;
}

.bx-viewport {
    z-index: 999;
}

.link-image {
    display: block;
    cursor: pointer;
    z-index: 103;
    overflow: hidden;
    img {
        display: block;
        -webkit-transition: transform .35s ease 0s;
        -moz-transition: transform .35s ease 0s;
        -o-transition: transform .35s ease 0s;
        transition: transform .35s ease 0s;
    }
    &:hover {
        opacity: .8;
        -webkit-transition: opacity .35s ease 0s;
        -moz-transition: opacity .35s ease 0s;
        -o-transition: opacity .35s ease 0s;
        transition: opacity .35s ease 0s;
        img {
            transform: scale3d(1.05,1.05,1);
            -webkit-transform: scale3d(1.05,1.05,1);
            -moz-transform: scale3d(1.05,1.05,1) rotate(.02deg);
        }
    }
}

.tac-compare {
    margin-bottom: 20px !important;
}

#loginModal {
    max-width: 360px;
}

.pb-play, .pb-date {
    cursor: pointer;    
}

.user-block-right {
    float: right;
    a:first-child {
        margin-right: 15px;
    }
}

.icon-block-app {
    position: fixed;
    bottom: 30px;
    z-index: 1000;
    right: 30px;    
}

.item-icon-app {
    float: left;
}

.icon-app {
    cursor: pointer;
    color: #fff;
    background: #000;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 30px;
    float: left;
    margin: 3px;
    line-height: 49px;
    text-align: center;
    .fa {
        color: #fff;
    }
}

.icon-more-application {
    width: 78px;
    left: 25px;
}

.sub-icon-block-app {
    z-index: 1000;
    position: absolute;
    top: -40px;    
    background: #fff;
    border-radius: 50px;
    border: 1px solid #000;    
    display: none;
    .icon-app {
        width: 32px;
        height: 32px;
        line-height: 29px;
        font-size: 20px;
    }
}

.icon-share-application {
    width: 218px;
    left: -60px;
    .heateorSssMoreSvg {
        line-height: 32px;
        font-size: 20px;
        padding-left: 8px;
    }
    .heateor_sss_sharing_ul {
        margin: 0px !important;
    }
    i {
        background: #000;
        width: 32px!important;
        height: 32px!important;
    }
    .addtoany_shortcode {
        padding-top: 3px;
        .addtoany_list {
            a {
                font-size: 34px;
                span {
                    border-radius: 16px;
                }
            }
        }
    }
}

.btn-show-line-app {
    &:hover {
        cursor:pointer;
        color: #52BAD5;
    }
    i {
        color: #134F5C;
        font-size: 40px;
        line-height: 30px;        
    }
    .active {
        color: #52BAD5;
    }
}

.btn-show-grid-app {
    &:hover {
        cursor:pointer;
        color: #52BAD5;
    }
    i {
        color: #134F5C;
        font-size: 36px;         
    }
    .active {
        color: #52BAD5;
    }
}

.right-icons-block span {
    margin: 10px;
    position: relative;
    top: 4px;
    margin-right: 0px;
}

.app-form-wrapper {
    font-size: 14px;
    p {
        padding-bottom: 5px;
        .wpcf7-submit {
            background: #134F5C;
            border: 1px solid #134F5C;
            color: #fff;
            padding: 10px 20px;
        }
    }
}

.pb-info {
    i {
        color: #fff;
        background: #134F5C;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
    }
    .link-eve {
        i {
            margin-right: 5px;
        }
        line-height: 20px;
        position: relative;
        float: right;
        margin-right: 35px;
    }
    .sub-icon-block-app {
        top: -26px;
        width: inherit;
        padding: 2px 0px;
        padding-right: 3px;
        z-index: 1000;
        i {
            margin-right: 0px;
            margin-left: 3px;
        }
    }
    .icon-share-app {            
        padding: 0px;
        padding-right: 3px;
        .heateor_sss_sharing_ul {
            padding-right: 3px;
            margin: 0!important;
            i {
                margin-right: 0px;
            }
        }
        .addtoany_shortcode {
            padding-top: 0px;
            .addtoany_list {
                line-height: 5px!important;
                a {
                    font-size: 34px;
                    span {
                        border-radius: 16px!important;
                    }
                }
            }
        }
    }
}

.heateorSssMoreSvg {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background: none!important;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
        content: "\f141";
    }
}

.degradation-background {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
}

.right-btn-block {
    position: absolute;
    right: 0;
    top: -8px;
    min-height: 27px;
    background: #ECEDEC;
    z-index: 100;
    padding-left: 20px;
}

.btn-blue-light.btnTerm {
    &:hover {
        background: #134F5C!important;
        border: 1px solid #134F5C!important;
    }
    i {
        display: none;
    }
}

.btn-blue.btnTerm {
    &:hover {
        background: #52BAD5;
        border: 1px solid #52BAD5;
    }
}

.btn-register-submit {
    width: 100%;
}

.close-popup {
    float: right;
    background: #fff;
    padding-left: 5px;
    cursor: pointer;
}

.mini-icon-app, .item-icon-app {
    &:hover {
        .sub-icon-block-app {
            display:block;
        }
    }
}

.icon-email-contact {
    background: #52bad5;
}

.compare-select-app {
    .select {
        height: 40px;
        line-height: 35px;
        font-size: 14px;
        margin-bottom: 500px;
    }
}

.sidebar-left-menu {
    h3 { 
        font-size: 18px;
        color: #fff;
        border-top: 1px solid #fff;
        padding: 15px 25px;
        text-transform: none;
    }
    ul { 
        padding: 0 25px; 
        padding-bottom: 20px; 
        li {  
            padding-bottom: 5px; 
            a { 
                color: #fff; 
                font-size: 16px; 
                margin-left: 10px; 
            }
        }
    }
}    

.slick-prev, .slick-next {
    font-size: 14px;
    line-height: 14px;
    color: #000;
}

.video-slider, .screenshot-slider {
    .slick-prev {
        left: 10px;
        z-index: 100;
    } 
    .slick-next {
        right: 10px;
    }
}

.screenshot-slider {
    .slick-slide {
        img {
            margin: 0 auto;
            max-width: 100%;
        }
    }    
}

.video-slider {
    .slick-slide {
        video {
            margin: 0 auto;
            max-width: 100%;
            display: block;
        }
    }
}

.site-map-category {
    padding: 10px;
    background: #ccc;
    padding-bottom: 15px;
    ul {        
        li {
            padding-top: 10px;
            a {
                color:#fff;
                font-size: 16px;                             
            }
            ul {
                padding-left: 20px;
            }   
        }
    }
}

.main-cat {
    margin-bottom: 30px;
    .m-mig-block {
        cursor:pointer;
        margin-bottom: 0px!important; 
    }
}

.m-desc {
    position: absolute;
    bottom: 0px;
    max-height: 80%;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    display: none;
    .link-image
    {
        color: #000;
    }
}

.btn-show-info-cat {
    color: #fff;
    background: #134F5C;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    line-height: 20px!important; 
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
}

.btn-site-map {
    float: left;
    width: 15px;
    height: 20px;
    line-height: 17px;
    color: #fff;
    margin-right: 5px;
}
.li-map-site {
    ul {
        display:none;
    }
}

.delete-app {
    position: absolute;
    top: 22px;
    right: 15px;
}

#btnPlus, #btnPlusMobile {
    cursor: pointer;
}

.search-result-title {
    font-size: 18px;
    width: 100%;
    border-bottom: 2px solid #C6C6C6;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.search-last-result-title {
    font-size: 18px;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.search-result-for-discover-title {
    font-size: 18px;
    width: 100%;
}

.error {
    padding: 3px;
    color: red;
}

.check-wrapper {
    position: relative;
    padding-bottom: 25px;
    label:not(.error){
        cursor:pointer;
    }
    label.error {
        position: absolute; 
        left: 0; 
        top: 20px
    }    
}

.count-m-title {
    position: absolute;
    left: 15px;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
}

@media (max-width: 400px) {
    .pb-info {
        i {
            margin-right: 2px;
        }
        .link-eve {
            float: none;
            margin-right: 0px;
            i {
                margin-right: 2px;
            }
        }
        .mini-icon-app {
            .icon-more-app {
                width: 120px;
            }
            .icon-share-app {
                width: 143px;
                padding-right: 0px;
            }
        }
    }
}

@media (max-width: 992px) {
    .brand-block {
        min-height: 310px;
    }
    .brand-apps {
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    .user-mobile-auth {
        width: 100%;
        .user-block-right {
            a:first-child {
                left: 65px;
                position: absolute;
            }
        }
    }
    .right-btn-block {
        position: initial;
        padding-left: 0px; 
        margin: 10px 0;
        a {
            width: 100%;
        }
    } 
    .brand-block {
        min-height: 204px;
    }   
}

@media (max-width: 1200px) {
    .screenshot-pager, .video-pager {
        display: none;
    }
}

@media (min-width: 1215px) { 
    .desctop-size-cat {
        display: block;
        width: 330px;
        height: 250px;
        float: left;
        margin: 10px 30px;
        .col-md-4 {        
            width: 330px;
            height: 250px;
            .m-mig-block {
                overflow: hidden;
                .link-image {
                    height: 250px;
                    width: 300px;
                    background-size: cover;
                    background-position: center;
                    -webkit-transition: transform .35s ease 0s;
                    -moz-transition: transform .35s ease 0s;
                    -o-transition: transform .35s ease 0s;
                    transition: transform .35s ease 0s;
                    img {
                        display:none;
                    }
                    &:hover {
                        transform: scale3d(1.05, 1.05, 1);
                        -webkit-transform: scale3d(1.05, 1.05, 1);
                        -moz-transform: scale3d(1.05, 1.05, 1) rotate(0.02deg);
                    }
                }
                .m-tags-hide {
                    width: 60%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    margin-top: 0px;
                }
            }
            .brand-block {            
                height: 250px;
                .brand-content {
                    h3 {
                        margin-bottom: 25px;
                    }
                }
                .brand-apps {
                    margin-left: 0px;
                }
            }
        }
    }
}