////////////////////////////////////  responsive  ////////////////////////////////////

@media (max-width: 1280px) {
	.container-fluid {
		margin-left: 45px;
	}
} 
@media (max-width: 1140px) {
	.m-tags {
		width: 50%;
		padding-top: 5px;
	}
	.prod-block-cont {
		width: 51%;
	}
	.prod-tags {
		width: 48%;
	}
	.sidemenu {
		.btn {
			padding-left: 10px;
			padding-right: 10px;
			font-size: 16px;
		}
	}
}
@media (max-width: 992px) {
	.brand-btns {
		.btn {
			width: 140px;
			min-width: 140px;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
		.in-btn {
		width: 140px;
		background: #fff url(../img/icons/in-btn.png) 0 center no-repeat;
		-webkit-background-size: 100% auto;
		     -o-background-size: 100% auto;
		        background-size: 100% auto;
		}
	}
	.sidemenu {
		.btn {
			padding-left: 5px;
			padding-right: 5px;
			font-size: 13px;
		}
	}
	.discover-tags {
	.btn {
		font-size: 12px;
			} 
		}
		.col-b-1 {
			width: 15%;
		}
} 
@media (max-width: 767px) {
	.header {
		padding-bottom: 20px;
	}
	.toplinks {
		text-align: left;
	}
	.search-form {
		.form-control {
			width: 176px;
		}
	}
	.m-mig-block {
		margin-bottom: 15px;
	}
	.m-tags {
		width: 59%;
	}
	.m-tags-hide {
		width: 59%;
	}
	.mmenu-panel {
		display: none;
	}
	.container-fluid {
		margin-left: 0;
	}
	.carousel {
		margin-bottom: 14px;
	}
	h1 {
		font-size: 21px;
		font-weight: normal;
		padding-bottom: 10px;
	}
	.m-descr {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.maintext {
		text-align: center;
		p {
			font-size: 14px;
			margin-bottom: 10px;
		}
		.mt-btn {
			width: 138px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
			font-size: 15px;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.mtext-btns {
		text-align: center;
		margin-right: -15px;
		margin-left: -15px;
	}
	.mid-btn {
		font-size: 16px;
	}
	.btn-op {
		font-size: 16px;
	}
	.page-title {
		text-align: center;
		margin-bottom: 20px;
		h3 {
			font-size: 18px;
		}
		&:after {
			display: none;
		}
	}
	.page-title-discover {
		text-align: center;
		h3 {
			font-size: 18px;
		}
		&:after {
			display: none;
		}
	}
	.m-title {
		top: 57%;
		font-size: 16px;
	}
	.browse {
		font-size: 12px;
	}
	.header {
		background: #304D5B;
		min-height: 40px;
		-webkit-border-radius: 0;
		        border-radius: 0;
		padding-bottom: 0;
	}
	.login-icon {
		@include s(login_icon-wh)
	}
	.create-icon {
		@include s(create-icon-wh)
	}
	.toplinks {
		padding-top: 10px;
		text-align: center;
		a {
			color: #fff;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.menu-btn-mobile {
		@include s(menu-mobile-icon);
		display: inline-block;
		position: absolute;
		left: 10px;
		top: 12px;
		cursor: pointer;
	}
	.s-btn-mobile {
		@include s(s-icon-mobile);
		display: inline-block;
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
	}
	.slider-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.profile-wrapper {
		text-align: center;
	}
	.profile-content {
		font-size: 12px;
		.profile-btns {
			padding-top: 20px;
			text-align: center;
			.btn-sm {
				width: 140px;
				margin-right: 0;
				padding-left: 0;
				padding-right: 0;
				text-align: center;
			}
		}
	}
	.brands {
		padding-left: 0px;
		padding-right: 0px;
	}
	.products {
		padding-left: 0px;
		padding-right: 0px;
		.brand-block {
			text-align: center;
			-webkit-border-radius: 5px;
			        border-radius: 5px;
			.brand-logo {
				float: none;
			}
			.brand-content {
				margin-left: 0;
				h3 {
					display: none;
				}
				p {
					font-size: 12px;
				}
			}
			.brand-apps {
				margin: 0 auto;
    			display: inline-block;
    			a:last-child {
    				margin-right: 0px;
    			}
			}
		}
		.col-xs-6 {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.review-text {
		margin-left: 110px;
		height: 102px;
		overflow: hidden;
		padding-top: 0;
	}
	.review-block {
		padding-left: 10px;
		padding-right: 10px;
	}
	.profile-btns {
		margin-left: -10px;
		margin-right: -10px;
		.btn {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	.brand-btns {
		.btn {
			width: 90px !important;
			min-width: 90px;
			white-space: normal;
			line-height: 1.3em;
			font-size: 14px;
		}
		.btn-blue {
			padding: 0 10px !important;
		}
	}
	.sidemenu {
		display: none;
	}
	.side-select {
		display: block;
	}
	.int-logo {
		width: 33%;
		img {
			width: 100%;
		}
	}
	.int-content {
			margin-left: 0;
			padding-left: 10px;
			font-size: 12px;
			float: right;
			width: 65%;
			line-height: 1.3em;
			height: 110px;
			overflow: hidden;
		}
	.int-block {
		-webkit-border-radius: 5px;
		        border-radius: 5px;
	}
	.col-b-1,
	.col-b-2 {
		width: 30%;
	}
	
	.textarea {
		margin-bottom: 20px;
	}
	.user-mobile {
	    position: absolute;
    	top: 3px;
    	right: 25px;
	}
	.search-mobile {
    	position: inherit;
    	width: 100%;
    	top: 30px;
    	height: 68px;
    	padding: 0;
    	display: none;
    	min-height: 100%;
    	padding-bottom: 10px;
    	.search-form {
    	    display: inline-block;
    	    background: #304D5B;
    	    width: 100%;
    	}
    }
	.user-block {
		height: 38px;
		padding-top: 2px;
		padding-left: 30px;
		padding-bottom: 2px;
		span {
			color: #FFF;
			padding-top: 10px;
		}
		img {
			height: 34px;
			width: 34px;
		}
	}
	.logout {
		position: relative;
		top: 1px;
		left: -15px;
	}
	.plan-block-active {
		top: 0;
	}
	.segment-block {
		overflow: hidden;
		padding-left: 15px;
		padding-right: 15px;
	}
	.text-block-grey {
		background: none;
		font-size: 14px;
		padding: 0;
		padding-bottom: 25px;
	}
	.segment-category {
		padding-left: 5px;
		padding-right: 5px;
	}
	.vender-block-wrapper {
		top: 0;
	}
	.personal-block-title {
		font-size: 18px;
	}
	.plans-contact-block {
		line-height: 1.2em;
		top: 0;
	}
	.plan-info {
		margin-bottom: 15px;
		font-size: 16px;
	}
	.page-plan-title {
		text-align: left;
		float: left;
		position: relative;
		h3 {
			font-size: 12px;
			text-transform: none;
			padding-right: 5px;
			position: relative;
			top: 3px;
		}
	} 
	.plan-arrows {
		font-weight: bold;
		margin-bottom: 20px;
		i {
			position: relative;
			top: 2px;
			margin: 0 10px;
		}
	}	
	.plan-block-name {
		margin-bottom: 10px;
	}
	.plan-block-price {
		margin-bottom: 10px;
	}
	.plan-block-options li {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.edit-app-block {
		background: none;
		-webkit-box-shadow: none;
		        box-shadow: none;
		padding: 0;
		h1 {
			float: left;
			font-size: 12px;
			text-transform: none;
			margin-right: 540pxpx;
			position: relative;
			top: 2px;
		}
	}
	.page-title, .page-title-discover {
		margin-bottom: 10px;
		h3 {
			font-size: 16px;
			padding-right: 0px;
		}
	}
	.app-social {
		i {
			left: 10px;
			top: 8px;
		}
		input {
			padding-left: 36px;
		}
		.fb {
			@include s(fb-m)
		}
		.link-in {
			@include s(in-m)
		}
		.tw {
			@include s(tw-m)
		}
		.go {
			@include s(go-m)
		}
	}
	.apps {
		margin-bottom: 20px;
	}

	#sideSlideToggle {
	    position: absolute!important;
		background-color: transparent!important;
		height: 36px!important;
		i {
		    line-height: 40px!important;
		    margin-left: 10px!important;
		    width: 15px!important;
		    font-size: 20px!important;
		}
	}
	.bx-prev {
	    left: -5px;
    }
	.bx-next {
	    right: -5px;
	}
	.right-icons-block {
		display:none;
	}
	.use-products {
    	margin-bottom: 0px;
	}
}
@media (max-width: 540px) {
	.box-modal {
		min-width: 320px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.arcticmodal-container_i2 {
		padding-left: 0;
		padding-right: 0;
	}
	.step-tabs li a {
		padding: 8px;
	}
	.vender-top {
		.btn16 {
			font-size: 12px;
		}
	}
	.vender-step {
		.btn {
			padding-left: 0;
			padding-right: 0;
		}
		.btn-blue {
			background: #FFF;
			color: #134F5C;
			@include box-shadow(0 0 5px rgba(0,0,0,.26));
			border: none;
		}
	}
	.personal-block-title {
		text-align: center;
	}
	.vender-links {
		text-align: center;
		span {
			display: block;
		}
	}
	
}