////////////////////////// soon ///////////////////////////
.soon-page {
	background: #e4edfa url(../img/soon.jpg) 100% 100% no-repeat;
	min-height: 100%;
	font-size: 39px;
	line-height: 1.5em;
	color: #282F39;
}
html {
	min-height: 100%;
}
.soon-wrapper {
	padding-left: 80px;
	padding-top: 190px;
	font-family: arial,sans-serif;
	padding-right: 600px;
	h1 {
		font-size: 56px;
		color: #282F39;
		font-weight: bold;
		font-family: arial,sans-serif;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 15px;
		&:after {
			content: "";
			height: 7px;
			width: 116px;
			background: #F6395D;
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 10px;
		}
	}
	h2 {
		font-size: 60px;
		color: #282F39;
		font-weight: bold;
		font-family: arial,sans-serif;
		text-transform: none;
		position: relative;
		padding-bottom: 15px;
		&:after {
			content: "";
			height: 7px;
			width: 116px;
			background: #F6395D;
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 10px;
		}
	}
	p {
		margin-bottom: 30px;
	}
	padding-bottom: 130px;
}
.soon-input {
	border: 2px solid  #d3d9e3;
	height: 80px;
	padding-left: 24px;
	padding-right: 24px;
	background: #f4f4f4 url(../img/soon-input.png) 100% 0 no-repeat;
	width: 70%;
	-webkit-border-radius: 20px 0 0 20px;
	        border-radius: 20px 0 0 20px;
	border-right: none;
	float: left;
}
.soon-btn {
	background: #F6395D;
	height: 80px;
	width: 30%;
	color: #FECCD6;
	font-size: 40px;
	-webkit-border-radius: 0 20px 20px 0;
	        border-radius: 0 20px 20px 0;
	border: 2px solid  #d3d9e3;
	border-left: none;
}
.soon-form {
	border: 1px solid #c3c8ce;
	background: #e4edfa;
	padding: 10px;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	max-width: 712px;
}

@media (max-width: 1280px) {
	.soon-page {
		background: #e4edfa url(../img/soon-1280.jpg) 100% 100% no-repeat;
	}
	.soon-wrapper {
		padding-right: 400px;
		padding-top: 100px;
		h1,h2 {
			font-size: 45px;
		}
	}
	.soon-page {
		font-size: 29px;
	}
	.soon-input {
		font-size: 29px;
	}
	.soon-btn {
		font-size: 29px;
	}
}
@media (max-width: 1000px) {
	.soon-page {
		background: #e4edfa url(../img/soon-768.jpg) 100% 100% no-repeat;
		font-size: 21px;
	}
	.soon-wrapper {
		padding-right: 280px;
		padding-top: 70px;
		h1,h2 {
			font-size: 39px;
			line-height: 1em;
			&:after {
				content: "";
				height: 4px;
				width: 59px;
				background: #F6395D;
				display: inline-block;
				position: absolute;
				left: 0;
				bottom: 5px;
			}
		}
	}
	.soon-input {
		font-size: 21px;
		padding-left: 15px;
		height: 60px;
	}
	.soon-btn {
		font-size: 21px;
		height: 60px;
	}
}
@media (max-width: 767px) {
	.soon-wrapper {
		padding-right: 25px;
		padding-top: 50px;
		padding-left: 30px;
		padding-bottom: 280px;
		h1,h2 {
			font-size: 28px;
			line-height: 1em;
			margin-bottom: 10px;
		}
	}
	.soon-page {
		font-size: 18px;
	}
	.soon-input {
		font-size: 18px;
		padding-left: 10px;
		height: 39px;
		-webkit-border-radius: 8px 0 0 8px;
		        border-radius: 8px 0 0 8px;
		border-width: 1px;
	}
	.soon-btn {
		font-size: 18px;
		height: 39px;
		-webkit-border-radius: 0 8px 8px 0;
		        border-radius: 0 8px 8px 0;
		border-width: 1px;
	}
	.soon-form {
		-webkit-border-radius: 8px;
		        border-radius: 8px;
	}
}
@media (max-width: 320px) {
	.soon-page {
		&:after {
			content: "";
				display: inline-block;
				position: absolute;
				@include s(zuz);
				left: 30px;
				top: 25px;
		}
		background: #e4edfa url(../img/soon-320.jpg) 100% 100% no-repeat;
		h1 {
			position: relative;
			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				@include s(arr-320);
				right: 55px;
				top: 39px;
			}
		}
	}
}